<div>
  <div *ngIf="team.id">

    <div>
      <h5><label>Year :</label> {{ team.year }}</h5>
    </div>

    <div>
      <h5><label>Coach :</label> {{ team.coach }}</h5>
    </div>
    
    <div class="players">
      <h5>Players :</h5>
      <div *ngFor="let player of team.players">
        <div class="player">
          <span>{{ player.name }} {{player.lastname}} <strong>{{ player.position }}</strong></span>
          <div *ngIf="player.is_captain" class="captain">C</div>
        </div>
      </div>
    </div>
    
  </div>
</div>

