<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><img src="favicon.ico" width="50" height="50"></a>
    <a class="navbar-brand">Montreal Hockey Team</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="Teams" class="nav-link">Team</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Player</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>